.card {
    margin: 0 auto;
    /* Added */
    float: none;
    /* Added */
    margin-top: 100px;
    /* Added */
}

.padding {
    padding: 10px;
}

.margin-left {
    margin-left: 30%;
}

.margin-right {
    margin-right: 30%;
}

.margin-card {
    float: right;
    margin-right: 10%;
    margin-top: 25%;
}

.margin-top {
    margin-top: 25%;
}

.justify-txt {
    text-align: justify;
    text-justify: inter-word;
}