<!DOCTYPE html>
<html>

<head>
    <!-- Standard Meta -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properties -->
    <title>My Card List</title>

    <link rel="stylesheet" type="text/css" href="../lib/Semantic-UI-CSS-master/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

</head>

<body class="padding" onload="onload()">
    <div class="ui clearing segment">
        <h3 class="ui right floated header">
            <i class="user circle outline icon"></i>
            <div class="content">
                <span id="userNameId">USER_ID</span>
                <div class="sub header"><span>5000</span>$</div>
            </div>
        </h3>

        <h3 class="ui left floated header">
            <i class="money icon"></i>
            <div class="content">
                SELL
                <div class="sub header">Sell your card to get money</div>
            </div>
        </h3>
    </div>


    <div class="ui grid">
        <div class="ten wide column">
            <!--  <h3 class="ui center aligned header"> My Card List</h3> -->
            <h3 class="ui aligned header"> My Card List </h3>
            <!------------------------------------------------------------------------->
            <!-- ----------------------------- List ----------------------------- -->
            <!------------------------------------------------------------------------->
            <!-- <table class="ui fixed selectable single line celled table" id="cardListId"> -->
            <table class="table" id="cardListId">
                <thead>
                    <tr>
                        <th class="three wide" scope="col">Name</th>
                        <th class="three wide" scope="col">Description</th>
                        <th scope="col">Family</th>
                        <th scope="col">HP</th>
                        <th scope="col">Energy</th>
                        <th scope="col">Defence</th>
                        <th scope="col">Attack</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody id="tableContent">
                    <template id="row">
                        <tr>
                            <td>
                                <img class="ui avatar image" src={{img_src}}> <span>{{name}} </span>
                            </td>
                            <td class="justify-txt">{{description}}</td>
                            <td>{{family_name}}</td>
                            <td>{{hp}}</td>
                            <td>{{energy}}</td>
                            <td>{{defense}}</td>
                            <td>{{attack}}</td>
                            <td>{{price}}$</td>
                            <td>
                                <div class="ui vertical animated button" onclick="sell(idUser, idCard)" tabindex="0">
                                    <div class="hidden content">Sell</div>
                                    <div class="visible content">
                                        <i class="shop icon"></i>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </template>
                </tbody>
            </table>
        </div>
        <div class=" five wide column">

            <!------------------------------------------------------------------------->
            <!--    ----------------------------- CARD ----------------------------- -->
            <!-------------------------------------------------------------------------
                <div class="card" style="width: 18rem;">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Card</h5>
                        <p class="card-text"> Sum-up </p>
                    </div>
                </div>
                -->
            <div class="margin-card">
                <div class="ui special cards">
                    <div class="card">

                        <div class="content">
                            <div class="ui grid">
                                <div class="three column row">
                                    <div class="column">
                                        <i class="heart outline icon"></i><span id="cardHPId">10</span>
                                    </div>
                                    <div class="column">
                                        <h5>Happy Tree Family</h5>
                                    </div>
                                    <div class="column">
                                        <span id="energyId">10</span> <i class="lightning icon"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="image imageCard">

                            <div class="blurring dimmable image">
                                <div class="ui inverted dimmer">
                                    <div class="content">
                                        <div class="center">
                                            <div class="ui primary button">Add Friend</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ui fluid image">
                                    <a class="ui left corner label">
                                        DEADPOOL
                                    </a>
                                    <img id="cardImgId" class="ui centered image"
                                        src="https://static.hitek.fr/img/actualite/2017/06/27/i_deadpool-2.jpg">
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <div class="ui form tiny">
                                <div class="field">
                                    <label id="cardNameId"></label>
                                    <textarea id="cardDescriptionId" class="overflowHiden justify-txt" readonly=""
                                        rows="5">Le convoi d'Ajax est attaqué par Deadpool. Il commence par massacrer les gardes à l'intérieur d'une voiture, avant de s'en prendre au reste du convoi. Après une longue escarmouche, où il est contraint de n'utiliser que les douze balles qu'il lui reste, Deadpool capture Ajax (dont le véritable nom est Francis, ce que Deadpool ne cesse de lui rappeler). Après l'intervention de Colossus et Negasonic venus empêcher Deadpool de causer plus de dégâts et le rallier à la cause des X-Men, Ajax parvient à s'échapper en retirant le sabre de son épaule. Il apprend par la même occasion la véritable identité de Deadpool : Wade Wilson.
                                                                </textarea>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                            <i class="heart outline icon"></i><span id="cardHPId"> HP 10</span>
                            <div class="right floated ">
                                <span id="cardEnergyId">Energy 10</span>
                                <i class="lightning icon"></i>

                            </div>
                        </div>
                        <div class="content">
                            <span class="right floated">
                                <span id="cardAttackId"> Attack 20</span>
                                <i class=" wizard icon"></i>
                            </span>
                            <i class="protect icon"></i>
                            <span id="cardDefenceId">Defense 500</span>
                        </div>
                        <div class="ui bottom attached button">
                            <i class="money icon"></i>
                            Actual Value <span id="cardPriceId"> 100$</span>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    <script src="../lib/jquery-3.3.1.min.js"></script>
    <script src="../lib/Semantic-UI-CSS-master/semantic.js"></script>
    <script src="./js/cardList.js"></script>

    <script>
        $(function () {
            $("#card").load("./part/card-full.html");

        });</script>

</body>

</html>